# PC2_LP2_UNALM

Integrantes:
    - Ana
    - Stefano
    - Elian

- ¿Tiene API?
 No tiene API

- Crear un repositorio de trabajo en GitHub y trabajar de manera colaborativa con los integrantes de su grupo.
https://github.com/analisset7/PC2_LP2_UNALM

- Descargar la información solicitada y estructurarla de acuerdo al formato en excel: "CHGenesOrdenadosConVecinos.xlsx".

In [10]:
import pandas as pd 
data= pd.read_excel('CHGenesOrdenadosConVecinos.xlsx',engine='openpyxl',skiprows=[0],usecols=range(8)) # Leemos el archivo de excel
data.tail() #mostramos la lectura

,Gen Abrev,Category,Name of the gene,Inicio,Final,RNASeq,Microarray,SAGE
207,PLCL2,NaN,NaN,153722829,153936148,NaN,NaN,NaN
208,TBC1D5,NaN,NaN,153936559,154524620,NaN,NaN,NaN
209,TRNAW-CCA,NaN,NaN,154244176,154244247,NaN,NaN,NaN
210,SATB1,NaN,NaN,155262593,155364610,NaN,NaN,NaN
211,KCNH8,NaN,NaN,156184812,156650711,NaN,NaN,NaN

In [11]:
Gen=data["Gen Abrev"] # Extraemos la primera columna y la guardamos en "Gen"
Gen=Gen.tolist()      # Lo tranformamos en una lista
Gen[0:5]              # Mostramos los cinco primeros datos

['TRNAS-GGA', 'LOC102173449', 'LOC102169333', 'LOC108636757', 'LOC102187712']