# PC2_LP2_UNALM

Integrantes:
    - Ana
    - Stefano
    - Elian

- ¿Tiene API?
 No tiene API

- Crear un repositorio de trabajo en GitHub y trabajar de manera colaborativa con los integrantes de su grupo.
https://github.com/analisset7/PC2_LP2_UNALM

- Descargar la información solicitada y estructurarla de acuerdo al formato en excel: "CHGenesOrdenadosConVecinos.xlsx".

In [2]:
import pandas as pd # Importamos pandas 
df= pd.read_excel('CHGenesOrdenadosConVecinos.xlsx',engine='openpyxl',skiprows=[0],usecols=range(8)) # Leemos el archivo de excel
df.tail() #mostramos la lectura

,TRNAS-GGA,Unnamed: 1,Unnamed: 2,32091689,32091761,Unnamed: 5,Unnamed: 6,Unnamed: 7
207,TBC1D5,NaN,NaN,153936559,154524620,NaN,NaN,NaN
208,TRNAW-CCA,NaN,NaN,154244176,154244247,NaN,NaN,NaN
209,SATB1,NaN,NaN,155262593,155364610,NaN,NaN,NaN
210,KCNH8,NaN,NaN,156184812,156650711,NaN,NaN,NaN
211,Gen Abrev,Category,Name of the gene,Inicio,Final,RNASeq,Microarray,SAGE